google-cloud-aiplatform[adk,agent_engines]
google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-migration
langchain-google-community
google-cloud-discoveryengine
gradio
python-dotenv
pandas
openpyxl